@font-face {
    font-family: futura book font;
    src: url(../Fonts/Futura\ Book\ font.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #fff078;
}

ul {
    list-style-type: none;
}

.header li, .header a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    background-color: #939598;
}

li, a:hover {
    color: #7fdf7f;
}

li, a:after {
    color: pink
}
/* change pink hex */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #939598;
}

.logo {
    background-color: #939598;
    padding: 0px 0px 0px 10px;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-flex;
    padding: 0px 30px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    background-image: url("../images/hero-no_background_grey.png");
    background-size: cover;
    background-position: center;
}

.grid-container {
    display: grid;
    width:100%;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 500px 500px 250px;
    grid-template-areas:
    "about-me about-me lianna-pic"
    "my-work my-work my-work"
    "contact-me contact-me contact-me";
}

.grid-item {
    background-color: rgb(255, 255, 255, 0.7);
    margin: 6px 6px 6px 6px;
}

#about-me {
    grid-area: about-me;
    padding: 20px;
}

#my-work {
    grid-area: my-work;
    padding: 20px;
}

#my-work h2 {
    text-align: center;
}

#contact-me {
    grid-area: contact-me;
    padding: 20px;
}

#lianna-pic {
    grid-area: lianna-pic;
}

.grid-item img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #939598;
}

#contact-me h2 {
    text-align: center;
}

.grid-item p {
    font-family: Arial, Helvetica, sans-serif;
    color: #939598;
}

.contact-box {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-box section {
    flex-basis: 50%;
}

#contact-details li, #contact-details a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: 220px;
    text-decoration: none;
    color: black;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 180px;
    color: black;
}

.footer {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    background-color: #939598;
}

.footer h3 {
    background-color: #939598;
    padding: 10px 10px 0px 10px;
    font-size: 20px;
}

.footer p {
    background-color: #939598;
    padding: 5px 10px 10px 10px; 
    font-size: 18px;
}